.attributes {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: auto;
}

.attribute {
    background-color: steelblue;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.attribute-title {
    color: rgb(8, 58, 99);
    margin: auto;
    font-size: 20px;
}

.attribute-body {
    color: white;
    margin: auto;
    text-align: center;
} 